#root {
  /* max-width: 900px; */
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  border: 4px solid #ccc;
  background-color: rgb(255, 255, 255, 0.75);
  border-radius: 32px;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}

.text-danger {
  color: red;
}

input, textarea {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 6px;
}